* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg1.png);
  background-color: #f6ecac;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
header {
  position: fixed;
  width: 100%;
  gap: 0 2rem;
  background-color: #f6ecac;
}
.navbar {
  width: 100%;
  height: 110px;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .img {
  margin-right: 1200px;
  flex-shrink: 0;
}
.navbar .logout button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #d7b72b;
  color: #ffffff;
  font-weight: 500;
}
.navbar .logout button:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 115px;
}
.container2 {
  background-color: #f6ecac;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 1100px;
  align-items: center;
}
.ad {
  margin-bottom: 10px;
  background-color: #3f5faa;
  color: #ffffff;
  width: 100%;
  padding: 30px;
  height: 130px;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}
.heading2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}
.container3 {
  margin: 40px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.lay {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
}
.card {
  padding: 20px;
  margin: 20px;
  height: 150px;
  width: 200px;
  margin-left: 10px;
}
.card-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bolder;
}
.card a {
  text-decoration: none;
}
.btns {
  width: 75%;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
  padding: 8px;
  background-color: #d7b72b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.btns:hover {
  transform: scale(1.1);
  background-color: #4361ee;
}
.copyright {
  font-size: small;
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
#logout-popup {
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6ecac;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  height: 150px;
}
#logout-popup p {
  margin-bottom: 20px;
}
#logout-popup button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.logout_confirm {
  margin-right: 70px;
  margin-left: 30px;
  font-weight: 700;
  background-color: #d7b72b;
}
.logout_cancel {
  background-color: #4361ee;
  font-weight: 700;
}
.logout_confirm:hover {
  background-color: #edcd2b;
}
.logout_cancel:hover {
  background-color: #4980fe;
}

