<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoClean:Order List</title>
    <link
      rel="shortcut icon"
      href="../images/EcoClean__2_-removebg-preview.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css_files/aol.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/bootstrap.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <figure class="img">
          <img
            src="../images/EcoClean__2_-removebg-preview.png"
            alt=""
            height="100px"
            width="100px"
          />
        </figure>
        <div class="logout">
          <button id="logout-btn">Logout&nbsp;<i class="fas fa-sign-out-alt"></i></button>
      </div>
      <div id="logout-popup" style="display:none;">
        <p style="font-size:18px;font-weight:700">Are you sure you want to logout?</p>
        <a href="../login"><button id="logout-confirm" class="logout_confirm">Yes</button></a>
        <a href=""><button id="logout-cancel"  class="logout_cancel">No</button></a>
      </div>
      </nav>
    </header>
    <div class="container">
      <div class="container2">
        <div class="panel">
          <div class="leftpanel">
            <ul>
              <li><a href="./aprofile.html"> Profile </a></li>
              <li><a href="./aml.html"> Manager List </a></li>
              <li><a href="./acl.html"> Customer List </a></li>
              <li><a href="./aol.html"> Order List </a></li>
              <li><a href="./abl.html"> Branch List </a></li>
              <li><a href="./asl.html"> Services List </a></li>
              <li><a href="./history.html"> History </a></li>
              <li><a href="./feedback.html"> Feedback List </a></li>
            </ul>
          </div>
          <div class="rightpanel">
            <div class="table_content">
              <table class="table table-bordered table-striped">
                <tr class="thead border-light">
                  <th>Booking Date</th>
                  <th>Booking Id</th>
                  <th>Customer Id</th>
                  <th>Customer Name</th>
                  <th>Service Offered</th>
                  <th>No of Clothes</th>
                  <th>Price</th>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="border-light">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <hr
        style="
          width: 90%;
          border: 0;
          border-bottom: 3px solid #ffffff;
          margin: 10px auto;
        "
      />
      <p class="copyright">
        Copyright &copy; 2022 EcoClean. All Rights Reserved.
      </p>
    </footer>
    <script>
      const logoutBtn = document.getElementById('logout-btn');
      const logoutPopup = document.getElementById('logout-popup')
      logoutBtn.addEventListener('click', () => {
        logoutPopup.style.display = 'block';
      });
      document.getElementById('logout-confirm').addEventListener('click', () => {
        console.log('Logout confirmed');
        logoutPopup.style.display = 'none';
      });
      document.getElementById('logout-cancel').addEventListener('click', () => {
        logoutPopup.style.display = 'none';
      });
          </script>
  </body>
</html>
