* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../images/bg1.png);
  background-color: #f6ecac;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
header {
  position: fixed;
  width: 100%;
  gap: 0 2rem;
  background-color: #f6ecac;
}
.navbar {
  width: 100%;
  height: 110px;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .img {
  margin-right: 1200px;
  flex-shrink: 0;
}
.navbar .logout button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #d7b72b;
  color: #ffffff;
  font-weight: 500;
}
.navbar .logout button:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 140px;
}
.container2 {
  background-color: #f6ecac;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 2000px;
  align-items: center;
  height: 600px;
}
.panel {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: fixed;
}
.leftpanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fcdd59;
  box-sizing: border-box;
  width: 18%;
  padding-top: 20px;
  float: left;
  height: 575px;
}
.leftpanel ul li {
  list-style: none;
}
.leftpanel ul li a,
.leftpanel ul li a:visited {
  text-decoration: none;
  color: black;
  padding: 14px 24px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-spacing: 10px;
  border-radius: 4px;
  background-color: #3f5faa;
  color: white;
  width: 75%;
}
.leftpanel ul li a:hover {
  transform: scale(1.1);
  background-color: #4361ee;
}
.rightpanel {
  position: fixed;
  display: flex;
  background-color: #fcdd59;
  box-sizing: border-box;
  width: 64%;
  padding: 20px;
  float: right;
  z-index: 1;
  height: 575px;
  margin-left: 285px;
  justify-content: center;
  flex-direction: column;
}
.search_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search_content input[type="submit"] {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4361ee;
  color: #ffffff;
  font-weight: 500;
  width: 15%;
}
.search_content input[type="search"] {
  width: 84%;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.table_content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table {
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
  border: 1px solid #ffffff;
  max-height: 600px;
}
.table tr {
  border-bottom: 1px solid #ccc;
  height: 50px;
}
.table td {
  border-right: 1px solid #ccc;
}
.thead {
  background-color: #3f5faa;
  position: sticky;
  top: 0;
}
th {
  position: sticky;
  top: 0;
  color: #ffffff;
}
.copyright {
  font-size: small;
  font-style: italic;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.butns {
  font-size: 17px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #4361ee;
  color: #ffffff;
  font-weight: 500;
}
.butns:hover {
  background-color: #3f5faa;
  transform: scaleX(1.1);
}
.value {
  display: none;
}
select option {
  background-color: #fff;
  color: black;
  cursor: pointer;
  width: 150px;
}
select option:hover {
  background-color: #3f5faa;
  color: white;
}
#logout-popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6ecac;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  height: 140px;
}
#logout-popup p {
  margin-bottom: 20px;
}
#logout-popup button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
}
.logout_confirm {
  margin-right: 70px;
  margin-left: 30px;
  font-weight: 700;
  background-color: #d7b72b;
}
.logout_cancel {
  background-color: #4361ee;
  font-weight: 700;
}
.logout_confirm:hover {
  background-color: #edcd2b;
}
.logout_cancel:hover {
  background-color: #4980fe;
}
